.bottom {    
    padding: 20px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    @media (max-width: 1252px) {
        padding: 20px 50px;
    }
    @media (max-width: 600px) {        
        flex-wrap: wrap;
        padding: 20px 10px;
    }
    @media (max-width: 1000px) {
        flex-direction: column-reverse;
    }
}

.bottom_right {
    display: flex;
}

.bottom_left {
    align-items: center;
    display: flex;
}

.link__item {
    margin-left: 20px;
}

.link__item a {
    color: #ACABAB;
    text-decoration: none;
}