.accordion {
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.accordion:nth-child(1) {
  padding-top: 0px;
}
.accordion__button {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  float: right;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #FF7200;
}
.bottom {
  padding: 20px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
}
@media (max-width: 1280px) {
  .bottom {
    padding: 20px 50px;
  }
}
@media (max-width: 1024px) {
  .bottom {
    flex-direction: column-reverse;
  }
}
@media (max-width: 720px) {
  .bottom {
    flex-wrap: wrap;
    padding: 20px 10px;
  }
}
.bottom__item {
  align-items: center;
  display: flex;
}
.button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
  height: 48px;
  width: 48px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}
.button-arrow_left {
  position: absolute;
  top: calc(50% - 24px);
  left: 30px;
}
.button-arrow_right {
  position: absolute;
  top: calc(50% - 24px);
  right: 30px;
}
.button-arrow_transparent {
  background: none;
}
.button-arrow:hover {
  cursor: pointer;
  color: #FF7200;
  background-color: white;
  border: 1px solid #FF7200;
}
.buttons {
  display: flex;
  margin: 0 -20px;
}
.buttons > a {
  margin: 0px 15px;
}
.buttons_right {
  display: block;
  float: right;
  margin: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid;
}
.button_primary {
  background-color: white;
  border-color: #FF7200;
  color: #FF7200;
}
.button_primary:hover {
  background-color: #FF7200;
  color: white;
}
.button_light {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
  color: white;
}
.button_rectangular {
  padding: 15px 32px;
  border-radius: 3px;
}
.button_slider {
  border-color: white;
  width: 187px;
  height: 60px;
  background: none;
}
.button_slider:hover {
  background-color: white;
}
.button_slider:hover > .text {
  color: #343434;
}
.button_squared {
  height: 48px;
  width: 48px;
}
.button_circled {
  border-radius: 50%;
}
.button_social {
  color: #666666;
  background-color: #F0F0F0;
  width: 44px;
  height: 44px;
  border: none;
}
.button_social:hover {
  color: white;
  background-color: #FF7200;
}
.button_dark {
  border: 1px solid #666666;
  color: #ACABAB;
  background: none;
}
.button_dark:hover {
  color: #ACABAB;
  background-color: white;
}
.button_control {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  background: transparent;
  color: white;
}
.button_control:hover {
  background-color: white;
  color: #FF7200;
}
.button_right {
  float: right;
}
.footer {
  padding: 55px 135px 95px;
  background-color: #303030;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
@media (max-width: 1024px) {
  .footer {
    padding: 55px 50px 35px;
  }
}
@media (max-width: 720px) {
  .footer {
    padding: 55px 20px 35px;
  }
}
.image {
  max-width: 100%;
  min-height: auto;
}
.input {
  border-radius: 3px;
  border-width: 1px;
  resize: none;
}
.input_small {
  height: 35px;
}
.input_large {
  height: 120px;
  padding: 1px 0px;
}
.input::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #666666;
}
.grid {
  display: grid;
}
.grid_rows-xsm {
  row-gap: 10px;
}
.grid_rows-sm {
  row-gap: 15px;
}
.grid_rows-md {
  row-gap: 25px;
}
.grid_rows-lg {
  row-gap: 30px;
}
.grid_padding {
  padding: 0px 20px;
}
.grid_centered {
  justify-items: center;
  justify-content: center;
}
.grid_title-row {
  grid-auto-rows: 60px 1fr;
}
.grid_col3row2 {
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 100px 100px;
  row-gap: 55px;
  column-gap: 65px;
}
@media (max-width: 1280px) {
  .grid_col3row2 {
    grid-template-columns: 330px 330px;
  }
}
@media (max-width: 720px) {
  .grid_col3row2 {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}
.grid-cell {
  display: grid;
  grid-template-columns: 51px 1fr;
  column-gap: 20px;
}
.grid-cell_large {
  grid-template-columns: 70px 1fr;
}
.grid-cell__icon {
  display: flex;
  color: #FF7200;
}
.grid-cell__icon_circular {
  justify-content: center;
  align-items: center;
  min-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  background-color: #FF7200;
  color: white;
}
.grid-cell__text {
  display: grid;
  grid-template-rows: 30px auto;
  grid-gap: 1px;
}
.col2 {
  display: flex;
  justify-content: center;
}
.col2_margin {
  margin: 0 160px;
}
@media (max-width: 1280px) {
  .col2_margin {
    margin: 0 30px;
  }
}
@media (max-width: 720px) {
  .col2_margin {
    margin: 0 0px;
    width: 100%;
  }
}
.col2__item {
  display: grid;
  padding: 1rem;
}
@media (max-width: 1024px) {
  .col2__item {
    text-align: center;
    justify-items: center;
  }
}
@media (max-width: 1024px) {
  .col2__item_hide {
    display: none;
  }
}
.col4 {
  display: grid;
  grid-template-columns: 270px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
}
@media (min-width: 720px) {
  .col4 {
    grid-template-columns: 270px 270px;
    column-gap: 60px;
  }
}
@media (min-width: 1280px) {
  .col4 {
    grid-template-columns: 270px 270px 270px 270px;
    row-gap: 0px;
  }
}
.link {
  margin-left: 20px;
}
.link a {
  color: #ACABAB;
  text-decoration: none;
}
.link:hover > a {
  color: white;
}
.logo {
  display: grid;
  grid-template-rows: 45px 1fr;
  justify-content: center;
  border: 1px solid white;
  text-align: center;
  height: 70px;
  padding: 0px 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0px;
}
.logo__title {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 0.01em;
  line-height: 0.95em;
  margin-right: -0.1em;
}
.logo_secondary {
  border: 1px solid #343434;
  padding: 0px 25px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .logo_primary,
  .logo_secondary {
    display: none;
  }
}
@media (max-width: 720px) {
  .logo_primary {
    display: grid;
  }
}
.logo_borderless {
  border: 0 none;
  padding: 15px;
}
.logo_footer {
  margin: 0;
  padding: 0 15px;
}
@media (max-width: 720px) {
  .logo_footer {
    display: grid;
    grid-template-rows: 35px 1fr;
    align-items: center;
  }
}
.logo__title_small {
  line-height: 1.1em;
  font-size: 40px;
}
.logo__title_ultradark {
  color: #343434;
}
.logo__title_primary {
  color: #FF7200;
}
.logo__title_light {
  color: white;
}
.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu {
  display: flex;
  padding-left: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 720px) {
  .main-menu {
    display: none;
  }
}
.main-menu__link {
  position: relative;
  list-style-type: none;
  height: 100%;
}
.main-menu__link > a {
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  text-decoration: none;
}
.main-menu__link:hover > a {
  background-color: #343434;
  color: #FF7200;
}
.submenu {
  list-style: none;
  margin-top: 20px;
  left: 0px;
  background-color: #343434;
  padding: 20px;
  border-radius: 5px;
  white-space: nowrap;
}
.submenu-wrapper {
  background: transparent;
  position: absolute;
  display: none;
}
.submenu-wrapper_small {
  display: none;
  z-index: 0;
  left: 180px;
  top: 80px;
  padding: 20px 45px 55px;
}
.submenu__link::before {
  content: "\2022";
  color: white;
  font-weight: 500;
  width: 1em;
  padding-right: 0.5em;
}
.submenu__link {
  margin: 0px;
  padding: 0px;
}
.submenu > .submenu__link > a {
  color: #AFAFAF;
}
.main-menu__link:hover .submenu-wrapper {
  display: block;
}
.main-menu__link:hover .submenu-wrapper_small {
  display: none;
}
.submenu__link:hover > a {
  color: white;
}
.submenu__link:hover .submenu-wrapper_small {
  display: block;
}
.submenu__link {
  margin: 0px;
  padding: 0px;
}
.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.navigation_secondary {
  padding: 10px;
  position: static;
  box-shadow: 0 5px 5px #C8C8C8;
}
.photo {
  border-radius: 50%;
}
.section {
  padding: 80px 20px 80px;
  display: grid;
  row-gap: 10px;
  position: relative;
}
.section_no-padding-bottom {
  padding-bottom: 0px;
}
.section_no-padding-sides {
  padding-right: 0;
  padding-left: 0;
}
.section_centered {
  justify-items: center;
}
.section__head {
  display: grid;
  padding: 0px 50px 40px;
  justify-items: center;
}
@media (max-width: 720px) {
  .section__head {
    padding: 0px 10px 50px;
  }
}
.section_clients {
  background: url("./images/clients.jpg");
}
.section_amazing {
  background: url("./images/amazing.jpg");
}
.section_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(70, 70, 70, 0.5);
  background-blend-mode: multiply;
}
.header {
  background: url("./images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(70, 70, 70, 0.5);
  background-blend-mode: multiply;
  height: 860px;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  position: relative;
}
.separator {
  border: none;
  height: 2px;
  background-color: white;
  width: 170px;
}
.separator_dark {
  background-color: #666666;
}
.separator_margin {
  margin-top: 10px;
  margin-bottom: 16px;
}
.image-slider {
  position: relative;
  max-width: 570px;
  max-height: 350px;
}
.image-slider__shadow {
  max-width: 100%;
  position: absolute;
  top: 125px;
  left: 10px;
  z-index: -1;
}
.logo-slider {
  display: flex;
  padding: 40px 72px;
  justify-content: center;
  background-color: #FF7200;
}
@media (max-width: 1440px) {
  .logo-slider {
    display: none;
  }
}
.logos {
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
}
.logos__item {
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40px;
  width: 170px;
  background-color: #FF7200;
}
.logos__item:hover > .tooltip {
  display: block;
}
.slider {
  margin-top: 18%;
  min-height: 200px;
  width: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  transition: transform 0.5s;
  will-change: transform;
}
.slider__item {
  display: block;
}
.slider__content {
  width: 100%;
  display: none;
  justify-items: center;
}
.slider__header-text {
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-size: 72px;
  line-height: 60px;
  margin-bottom: 20px;
}
@media (max-width: 720px) {
  .slider__header-text {
    font-size: 46px;
  }
}
.slider__secondary-text-container {
  display: flex;
  margin-bottom: 55px;
}
@media (max-width: 720px) {
  .slider__secondary-text-container {
    flex-direction: column;
  }
}
.slider__buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.slider__buttons > .button_slider {
  margin: 0px 15px;
}
@media (max-width: 1024px) {
  .slider__buttons {
    display: grid;
    justify-items: center;
  }
}
.slider__nav-button {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 15px;
}
.slider__nav-button_left {
  left: 0;
}
.slider__nav-button_right {
  right: 0;
}
.slider_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.socials {
  display: flex;
  padding: 10px 0;
}
.socials_spaced {
  justify-content: space-around;
}
.socials_margin {
  margin: 0px -5px;
}
.socials_margin > .button_dark {
  margin: 0px 5px;
}
.text-container {
  max-width: 470px;
}
.text-container_m {
  max-width: 300px;
}
.text-container_lg {
  max-width: 570px;
}
@media (max-width: 1024px) {
  .text-container_lg {
    max-width: 100%;
  }
}
.text-container_xlg {
  max-width: 770px;
}
@media (max-width: 1024px) {
  .text-container_xlg {
    max-width: 100%;
  }
}
.text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.text_shigh {
  line-height: 20px;
}
.text_high {
  line-height: 1.375rem;
}
.text_higher {
  line-height: 42px;
}
.text_centered {
  text-align: center;
}
.text_uppercase {
  text-transform: uppercase;
}
.text_spaced {
  letter-spacing: 0.05em;
}
.text_straight {
  font-family: 'Source Sans Pro', sans-serif;
}
.text_xxxsm {
  font-size: 10px;
}
.text_xxsm {
  font-size: 12px;
}
.text_xsm {
  font-size: 13px;
}
.text_sm {
  font-size: 14px;
}
.text_md {
  font-size: 16px;
}
.text_xmd {
  font-size: 18px;
}
.text_lg {
  font-size: 20px;
}
.text_lightweight {
  font-weight: 300;
}
.text_semibold {
  font-weight: 600;
}
.text_bold {
  font-weight: 700;
}
.text_light {
  color: white;
}
.text_primary {
  color: #FF7200;
}
.text_dark {
  color: #666666;
}
.text_halfdark {
  color: #ACABAB;
}
.text_ultradark {
  color: #343434;
}
.text_no-linebreak {
  white-space: nowrap;
}
.tiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  align-content: flex-start;
}
.tile {
  position: relative;
  width: 25%;
  max-height: 257px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .tile {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .tile {
    width: 100%;
  }
}
.tile__image {
  height: 100%;
  object-fit: cover;
}
.tile img {
  width: 100%;
  transition: transform 0.5s ease;
}
.tile:hover img {
  transform: scale(1.15);
}
.tile__menu {
  display: block;
  padding-top: 10px;
  position: absolute;
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: lightgray;
  transition: transform 0.5s ease;
}
.tile:hover .tile__menu {
  transform: translate(0, -100%);
}
.tile__controls {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -88px;
  margin-top: -30px;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}
.tile__controls > .button_control {
  margin: 15px;
}
.tile:hover .tile__controls {
  visibility: visible;
  opacity: 1;
}
.title-container {
  display: grid;
  padding: 0px 50px 50px;
  justify-items: center;
}
@media (max-width: 720px) {
  .title-container {
    padding: 0px 10px 50px;
  }
}
.title {
  color: white;
  font-size: 36px;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.title_high {
  line-height: 42px;
}
.title_noncapital {
  text-transform: none;
}
.title_capital {
  text-transform: capitalize;
}
.title_centered {
  text-align: center;
}
.title_bold {
  font-weight: 700;
}
.title_semibold {
  font-weight: 600;
}
.title_lightweight {
  font-weight: 300;
}
.title_dark {
  color: #666666;
}
.title_ultradark {
  color: #363636;
}
.title_small {
  font-size: 20px;
}
.title_large {
  font-size: 72px;
}
.title_xsm {
  font-size: 18px;
}
.title_xxsm {
  font-size: 14px;
}
.tooltip {
  display: none;
  width: 200px;
  top: 50px;
  left: 5px;
  border-radius: 3px;
  position: absolute;
  background: #666666;
}
.tooltip:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-bottom-color: #666666;
  border-width: 10px;
  margin-left: -10px;
}
.tooltip__text {
  padding: 10px 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
li a {
  text-decoration: none;
}
.lazy {
  background: lightgray;
}
