@import (reference) './variables.less';

.slider {    
    margin-top: 18%;
    min-height: 200px;
    width: 100%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    transition: transform .5s;
    will-change: transform;
}

.slider__nav-button_left, .slider__nav-button_right {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15px;
}

.slider__nav-button_left {
    left: 0;
}

.slider__nav-button_right {
    right: 0;
}

.slider__item {
    display: block;    
}

.slider__content {
    width: 100%;
    display: none;
    justify-items: center;
}

.slider__header-text {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 72px;
    line-height: 60px;
    margin-bottom: 20px;
    @media (max-width: 650px) {
        font-size: 56px;
    }
}

.slider__secondary-text-container {
    display: flex;    
    margin-bottom: 55px;
    @media (max-width: 650px) {
        flex-direction: column;
    }

}

.slider__text {
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.slider__text_colored {
    color: @slider-text-color;
}

.slider__button {
    cursor: pointer;
    display: grid;
    width: 187px;
    height: 60px;
    border: 1px solid white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: @slider-button-text;
    font-size: @slider-button-font-size;
}

.slider__button:hover {
    background-color: @color-white;
    color: @main-menu-link-hover-color;
}

.slider__text, .slider__header-text, .slider__button-text {
    font-family: "Open Sans";
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  

  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

///////////////////////////////////////////////

    .slider__text_small {
        font-size: 16px;
        font-weight: 300;
        color: @color-white;
    }
    .slider__buttons {
        display: flex;
        margin-bottom: 50px;
    }
    
    .slider__button_whitespace {
        margin: 0 15px;
    }