@container-heigth: 860px;

@screen-xs: 480px;
@screen-s: 720px;
@screen-m: 1024px;
@screen-l: 1280px;
@screen-xl: 1440px;

@color-primary: #FF7200;
@color-dark: #666666;
@color-halfdark: #ACABAB;
@color-light: white;
@color-ultradark: #343434;